.lcentremid-4-5-1 {
    left: 490px;
    margin-top: -290px;
}

.rcentremid-4-5-1 {
    left: 490px;
    margin-top: -520px;
}

.ccentremid-4-5-1 {
    left: 400px;
    margin-top: -400px;
}

.lcentremidop-4-5-1 {
    left: 600px;
    margin-top: -390px;
}

.rcentremidop-4-5-1 {
    left: 490px;
    margin-top: -480px;
}

.ccentremidop-4-5-1 {
    left: 490px;
    margin-top: -320px;
}