
.lcforward-4-4-2 {
    left: 900px;
    margin-top: -500px;
}

.lcforwardop-4-4-2 {
    left: 100px;
    margin-top: -500px;
}

.rcforward-4-4-2 {
    left: 900px;
    margin-top: -300px;
}

.rcforwardop-4-4-2 {
    left: 100px;
    margin-top: -300px;
}